.background__trailers {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.background__trailers h1 {

    margin: 20px 0;
}

.trailer {
  width: auto;
  height: 250px;

}


@media screen and (min-width: 600px) {

    .trailer {
        width: 100%;
        height: 500px;

      }
}