.recommend {
  display: flex;
  flex-direction: column;
}

.recommend_FlexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommend_card {
  box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.692);
  border-radius: 5px;
  width: 140px;
  padding: 5px;
  margin: 5px;
}

.recommend_card div {
  width: 150px;
}
.recommend_card h2 {
  font-size: 14px;
}

.recommend_card p {
  font-size: 12px;
}

.recommend_img {
  width: 135px;
  height: auto;
}

@media screen and (min-width: 600px) {
  .recommend {
    margin: 10px;

  }
  .recommend h1{
    margin: 50px 0 0 0;

  }

  
  .recommend_card {
    box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.692);
    border-radius: 5px;
    width: 240px;
    height: 200px;
    padding: 10px;
    margin: 10px;
  }
  .recommend_card div {
    width: 250px;
  }
  .recommend_card h2 {
    font-size: 18px;
  }

  .recommend_card p {
    font-size: 14px;
  }

  .recommend_img {
    width: 235px;
    height: auto;
  }
}
